<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<style>
    #response{
        display:none;
        padding:10px;
        margin:20px;
        border-radius:15px;
    }
</style>
<body>
    Reset Password form page
    <div id="response"></div>
    <form action=<%='/auth/resetpassword/'+userID%> method="post" id="resetform">
        <!-- don't change variable name -->
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="ERP_ID" placeholder="ERP_ID"><br>
        <input type="password" name="password" placeholder="Enter new Password"><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/static/js/api/resetpassword.js"></script>
</html>