<!-- part of profile section use for editing profile -->
<div>
    <button id="editProfile" onclick="editProfileToggle()" >Edit Profile</button><br>
    <button id="logout" onclick="logout()">Logout</button>
    <form method="POST" action="/profile/edit_profile" id="editProfileForm" style="display: none;" enctype="multipart/form-data">
        <input type="text" name="name" id="name" placeholder="Enter your name" ><br>
        <input type="text" name="branch" id="branch" placeholder="Enter your branch"><br>
        <input type="number" name="year" id="year" placeholder="Enter your year" ><br>
        <input type="text" name="gender" id="gender" placeholder="Enter your gender"><br>
        <input type="number" name="whatsapp" id="whatsapp" placeholder="whatsapp Number"><br>
        <input type="number" name="contactNo" id="contactNo" placeholder="contactNo"><br>
        <input type="file" name="avatar" id="avatar" accept="image/*" multiple="false"><br>
        <button type="submit">Update</button>
    </form>
<div>
<script src="/static/js/api/edit_profile.js"></script>