<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
</head>
<script>
    const onLoad = async()=>{
        document.getElementById("main").innerHTML = "<h2>Validating...</h2>"
        let user = await JSON.parse(localStorage.getItem("user"));
        if(user==null){
            window.location.href = "http://localhost:3000/";
        }else{
        let data = await fetch("/admin",{
            method:"POST",
            mode:"cors",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                "id":user.id
            })
        });
        data = await JSON.parse(await data.text());
        if(data.status=="error"){
            window.location.href = "http://localhost:3000/";
        }else if(data.status=="false"){
            document.getElementById("main").innerHTML = "<h1 style='color:red'>Access Denied!!</h1>";
            const sleep = new Promise(res=>setTimeout(res,ms));
            await sleep(200);
            window.location.href = "http://localstorage:3000/"
        }else if(data.status=="ok"){
            document.getElementById("main").innerText = ""
            document.getElementById("dashboard").style.display="flex"
            let adminInput = document.querySelectorAll(".adminID");
            await adminInput.forEach(Inputs=>{
                Inputs.value = user.id;
            });

        }
        }
    }
    const clubDetail = async(value)=>{
        let user = await JSON.parse(localStorage.getItem("user"));
        let club = await fetch("/clubAdmin/clubDetail",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            mode:"cors",
            body:JSON.stringify({
                "id":user.id,
                "clubName":value
            })
        })
        club = await JSON.parse(await club.text());
        
        if(club.status=="ok"){
            
            document.getElementById("clubDetail").style.display = "block"
            //set all input values of clubId
            await document.querySelectorAll(".clubIDInput").forEach(clubAdmin=>{
                clubAdmin.value = club.club._id;
            })

            $("#clubIcon").attr("src",club.club.icon);
            $("#clubName").html(club.club.name)
            let clubNames = document.querySelectorAll(".clubName");

            await clubNames.forEach(clubName=>{
                clubName.value = club.club.name;
            })
            $("#clubDesc").html(club.club.description);
            let clubdescs = document.querySelectorAll(".clubDesc");

            await clubdescs.forEach(clubdesc=>{
                clubdesc.value = club.club.description;
            })
            $("#clubHelpLineNumber1").html(club.club.number[0]);
            let clubNumber1s = document.querySelectorAll(".clubHelpLineNumber1");

            await clubNumber1s.forEach(clubNumber=>{
                clubNumber.value = club.club.number[0];
            })
            
            if(club.club.number.length==2){
                $("#clubHelpLineNumber2").html(club.club.number[1]);
                let clubNumber2s = document.querySelectorAll(".clubHelpLineNumber2");
                await clubNumber2s.forEach(clubNumber=>{
                    clubNumber.value = club.club.number[1];
                })
            }
            
            $("#clubHelpLineEmail1").html(club.club.Email[0]);
            let clubEmail1s = document.querySelectorAll(".clubHelpLineEmail1");
            
            await clubEmail1s.forEach(clubEmail=>{
                clubEmail.value = club.club.Email[0];
            })
            
            if(club.club.Email.length==2){
                $("#clubHelpLineEmail2").html(club.club.Email[1]);
                let clubEmail2s = document.querySelectorAll(".clubHelpLineEmail2");
                await clubEmail2s.forEach(clubEmail=>{
                    clubEmail.value = club.club.Email[1];
                })
            }
            let clubwhatsapps = document.querySelectorAll(".clubWhatsapp");
            
            await clubwhatsapps.forEach(clubWhatsapp=>{
                clubWhatsapp.value = club.club.Email[0];
            });
            
            let clubAdminDetail = await fetch("/clubAdmin/getMemberDetail",{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify({
                        adminID:user.id,
                        memberID:club.club.admin
                    })
                })
            clubAdminDetail = await JSON.parse(await clubAdminDetail.text());
            if(clubAdminDetail.status=="ok"){
                await document.querySelectorAll(".clubAdmin").forEach(clubAdmin=>{
                clubAdmin.value = clubAdminDetail.member.ERP_ID;
            })
            }
            document.getElementById("clubMembers").innerHTML = '';
            for(let i=0;i<club.club.members.length;i++){
                console.log(club.club.members[i].userId)
                let res = await fetch("/clubAdmin/getMemberDetail",{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify({
                        adminID:user.id,
                        memberID:club.club.members[i].userId
                    })
                })
                res = await JSON.parse(await res.text());
                console.log(res.status);
                if(res.status=="ok"){
                    let clubMember = document.getElementById("clubMembers");
                    clubMember.innerHTML+=`
                    <div style='border:1px solid black;margin:1px 2px;display:flex;flex-direction:column;text-align:center;'>
                        <img src='${res.member.avatar}' alt='${res.member.name}' style='height:100px;width:100px;border-radius:100%;'>
                        <a href='http://localhost:3000/profile/${res.member.ERP_ID}'>${res.member.name}</a>
                        <button onclick='deleteMember("${res.member.ERP_ID}","${club.club._id}")'>Delete Member</button>
                    </div>
                    `
                }
            }
        
        }
    }
    const newClubBtn = async()=>{
        let element = document.getElementById("addClubForm");
        element.classList.toggle("activeClubBtn");
    }
    const checkClubAdmin = async(value,statusID,sbmtBtnID)=>{
        let statusTag = document.getElementById(statusID);
        statusTag.innerText = 'validating Admin...';

        let data = await fetch("/clubAdmin/checkclubAdmin",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            mode:"cors",
            body:JSON.stringify({
                ERP_ID:value
            })
        })
        data = await JSON.parse(await data.text());
        if(data.status=="ok"){
            $("#"+sbmtBtnID).prop("disabled",false);
            statusTag.innerText = "Verified:)";
            statusTag.style.color = "green";
        }else{ 
            $("#"+sbmtBtnID).prop("disabled",true);
            statusTag.style.color = 'red';
            if(data.status=="already admin"){
                statusTag.innerText = "Already Admin of another club";
            }else{
                statusTag.innerText = "User Doesn't exists";
            }
        }
    }

    const addClubMemberToggle = async()=>{
        if($("#addMemberForm").css("display")=="none"){
            $("#addMemberForm").css("display","block");
        }else{
            $("#addMemberForm").css("display","none");
        }
    }
    const editClubToggle = async()=>{
        if($("#editClubForm").css("display")=="none"){
            $("#editClubForm").css("display","block");
        }else{
            $("#editClubForm").css("display","none");
        }
    }
    const validateClubMember = async(value)=>{
        document.getElementById("validateMemberID").innerText = "Verifiying...";
        $("#addMemberBtn").prop("disabled",true);
        $("#validateMemberID").css("display","block");

        let adminID = document.getElementsByClassName("adminID")[0].value;
        let clubID = document.getElementsByClassName("clubIDInput")[0].value;
        let res = await fetch("/clubAdmin/isMember",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                ERP_ID:value,
                adminID:adminID,
                clubID:clubID
            }),
            mode:"cors"
        });
        
        res = await JSON.parse(await res.text());
        if(res.status=="yes"){
            $("#validateMemberID").css("color","red");
            document.getElementById("validateMemberID").innerText = "Already Member";
            $("#addMemberBtn").prop("disabled",true);
        }else if(res.status=="not exist"){
            $("#validateMemberID").css("color","red");
            document.getElementById("validateMemberID").innerText = "User Not exist";
            $("#addMemberBtn").prop("disabled",true);
        }else if(res.status=="no"){
            $("#validateMemberID").css("color","green");
            document.getElementById("validateMemberID").innerText = "Verified:)";
            $("#addMemberBtn").prop("disabled",false);
        }else{
            $("#validateMemberID").css("color","red");
            document.getElementById("validateMemberID").innerText = "Invalid Input:/";
            $("#addMemberBtn").prop("disabled",true);
        }
    }
    let deleteMember = async(ERP_ID,clubID)=>{
        console.log(clubID);
        let user = await JSON.parse(localStorage.getItem("user"));
        let res = await fetch("/clubAdmin/deleteMember",{
            method:"PUT",
            body:JSON.stringify({
                adminID:user.id,
                ERP_ID:ERP_ID,
                clubID:clubID
            }),
            headers:{
                "Content-Type":"application/json"
            },
            mode:"cors"
        });
        res = await JSON.parse(await res.text());
        console.log(res);
        if(res.status=="ok"){
            window.location.reload();
        }
    }
</script>
<style>
    #dashboard{
        display:none;
    }
    #clubDetail{
        display:none;
    }
    #editClub{
        display:flex;
    }
    .activeClubBtn{
        display:none;
    }
</style>
<body onload="onLoad()" >
    <div id="main"></div>
    <div id="dashboard">
        <!-- Through indexing you get data of each club in list format, you can display data whatever you wnat-->
        
        <div>
            <%for(let i=0;i<clubs.length;i++){%>
                <button class="clubName" onclick="clubDetail('<%=clubs[i].name%>')"><%=clubs[i].name%></button><br>
            <%}%>
            <button onclick="newClubBtn()">+Add Club</button>
            <form action="/admin/addClub" method="POST" id="addClubForm" class="activeClubBtn" enctype="multipart/form-data" >
                <input type="text" name="name" placeholder="name" required><br>
                <input type="text" name="desc" placeholder="description"><br>
                <input type="file" name="icon"><br>
                <input type="email" name="Email" placeholder="HelpLine Email"  required><br>
                <input type="email" name="Email" placeholder="HelpLine Email"><br>
                <input type="text" name="number" placeholder="HelpLine No"  required><br>
                <input type="text" name="number" placeholder="Another HelpLine No"><br>
                <input type="text" name="whatsapp" placeholder="Whatsapp Group Link"  required><br>
                <input type="text" style="display: none;" class="adminID" name="adminID">
                <input type="password" name="password" placeholder="password"><br>
                <input type="text" name="ERP_ID" placeholder="Enter Admin ERP_ID" onchange="checkClubAdmin(this.value,'statusAdminValidate','addClubBtn')" required><br>
                <label id="statusAdminValidate" for="ERP_ID"></label><br>

                <button id="addClubBtn">Submit</button>
            </form>
        </div>
        <div id="clubDetail">
            <div id="editButton" style="display: flex;">
                <button onClick="addClubMemberToggle()">+Add Member</button>
                <button onClick="editClubToggle()">Edit Club</button>
            </div>
            <div id="Forms" style="display: flex;">
                <form method="POST" action="/clubAdmin/addMember" id="addMemberForm" style="display: none;">
                    <input type="text" name="ERP_ID" placeholder="user ERP_ID" onchange="validateClubMember(this.value)"><br>
                    <label for="ERP_ID" id="validateMemberID" style="display: none;"></label>
                    <input type="text" class="adminID" name="adminID" style="display:none;">
                    <input type="text" name="clubID" class="clubIDInput" style="display:none">
                    <button type="submit" id="addMemberBtn">+Add Member</button>
                </form>
                <form method="POST" action="/clubAdmin/editClub" id="editClubForm" enctype="multipart/form-data" style="display: none;">
                    <input type="text"  name="name" placeholder="name" class="clubName" required><br>
                    <input type="text" name="desc" placeholder="description" class="clubDesc"><br>
                    <input type="file" name="icon" class=""><br>
                    <input type="email" name="Email" placeholder="HelpLine Email" class="clubHelpLineEmail1" required><br>
                    <input type="email" name="Email" placeholder="HelpLine Email" class="clubHelpLineEmail2"><br>
                    <input type="text" name="number" placeholder="HelpLine No" class="clubHelpLineNumber1" required><br>
                    <input type="text" name="number" placeholder="Another HelpLine No" class="clubHelpLineNumber2"><br>
                    <input type="text" name="whatsapp" placeholder="Whatsapp Group Link" class="clubWhatsapp" required><br>
                    <input type="text" style="display: none;" class="adminID" name="adminID">
                    <input type="text" style="display: none;" class="clubIDInput" name="clubID">
                    <input type="text" name="ERP_ID" placeholder="Enter Admin ERP_ID" class="clubAdmin" onchange="checkClubAdmin(this.value,'statusAdminValidateForm','editClubBtn')" required><br>
                    <label id="statusAdminValidateForm" for="ERP_ID"></label><br>
                    <button id="editClubBtn">Submit</button>
                </form>
            </div>
            <div id="aboutClub">
                <img src="" alt="Club Icon" id="clubIcon">
                <h1 id="clubName"></h1>
                <div id="clubDesc"></div>
                <div id="clubGroup"></div>
                <div>HelpLineNo.</div>
                <div id="clubHelpLineNumber1"></div>
                <div id="clubHelpLineNumber2"></div>
                <div>Email US</div>
                <div id="clubHelpLineEmail1"></div>
                <div id="club HelpLineEmail2"></div>
                <div>Members</div>
                <div id="clubMembers" style="display:flex;"></div>
            </div>
        </div>

    </div>
</body>
</html>