<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="stylesheet" href="/static/style/nav-bar.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Responsive Navbar | 9/100 Project By CodeBustler</title>
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script>
        var onLoad = async (name) => {
            let res = await fetch("/club/getMembers", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                mode: "cors",
                body: JSON.stringify({
                    name: name
                })
            })
            res = await JSON.parse(await res.text());
            console.log(res);
            if (res.status == "ok") {
                document.getElementById("clubMemberList").innerHTML = '';
                let members = res.members;
                $("#totalMembers").text(members.length);
                for (let i = 0; i < members.length; i++) {
                    document.getElementById("clubMemberList").innerHTML +=
                        `
                    <div class="child">
                        <img src="${members[i].avatar}">
                        <div class="inner">
                            <a href='../profile/${members[i].ERP_ID}'><h1>${members[i].name}</h1></a>
                        </div>
                        <div class="inn">${members[i].position}</div>
                    </div>
                    `
                }
            }
        }

    </script>
    <style>
        .ball {
            background-color: rebeccapurple;
            border-radius: 144rem 0rem 14rem;
            width: 100%;
            height: 35rem;
        }

        @media(max-width:375px) {
            .pho img {
                width: 275px;
                margin-top: -125%;
                float: inherit;
                /* top: 40%; */
                height: 249px;
                object-fit: cover;
            }

            .main {
                left: 16px;
                font-size: 47px;
                margin-left: 18px;
                /* position: relative; */
                display: table;
                top: 40%;
            }

            .what .less-main {

                margin-left: 40%;
                max-width: 100%;
                max-height: 50%;
                top: 42%;
            }

            .five {
                font-size: 31px;
                margin-left: 18px;
            }
        }

        @media(max-width:320px) {
            .pho img {
                width: 237px;
                margin-top: -134%;
                float: inherit;
                /* top: 40%; */
                height: 249px;
                object-fit: cover;
            }

            .main {
                left: 16px;
                font-size: 37px;
                margin-left: 18px;
                /* position: relative; */
                display: table;
                top: 35%;
            }

            .what .less-main {

                margin-left: 28%;
                max-width: 100%;
                max-height: 76%;
                top: 37%;
            }

            .five {
                font-size: 31px;
                margin-left: 18px;
            }
        }

        @media (max-width:480px) {
            .pho img {
                width: 204px;
                margin-top: -76%;
                height: 216px;
                /* object-fit: cover; */
                overflow: auto;
            }

            .five {
                font-size: 35px;
                margin-left: 5px;
                /* margin-top: 30px; */
                position: absolute;
            }

            @media(max-width: 414px) {
                .center {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                }

                p2 {
                    position: absolute;
                    top: 65%;
                    /* max-width: 1200px; */
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 34px;
                    min-width: max-content;
                }

                .pho img {
                    width: 260px;
                    margin-top: -113%;
                    float: inherit;
                    top: 40%;
                    height: 282px;
                    object-fit: cover;
                    /* border: 2px solid black; */
                }

                .main {
                    left: 0px;
                    font-size: 50px;
                    margin-left: 40px;
                    position: relative;
                    display: table;
                    top: 50%;

                }

                .what .less-main {
                    top: 50%;
                    margin-left: 40%;
                    max-width: 40%;
                    max-height: 40%;
                    max-width: 100%;
                    max-height: 54%;
                    top: 46%;
                    position: relative;
                    left: -14%;
                }

                .what {
                    background-color: #f7f7eb;
                    width: 100%;
                    height: 700px;
                    object-fit: cover;
                }

                .phot img {
                    width: 260px;
                    margin-top: 27%;
                    left: 34%;
                    height: 282px;
                    object-fit: cover;
                    /* border: 2px solid black; */
                    margin-left: 16%;

                }

                .best {
                    left: 60px;
                    font-size: 41px;
                    margin-left: 40px;
                    position: absolute;
                    display: table;
                }

                .b {
                    border: 2px solid black;
                    margin: 10px 17px;
                    width: 87%;
                    left: 16%;
                    height: auto;
                    padding: 10px;
                }

                .child1 {
                    display: grid;
                    place-items: center;
                    padding: 18px;
                }

                .five {
                    font-size: 31px;
                    margin-left: 26px;
                }
            }

            @media (max-width:320px) {
                .child1 img {
                    width: 120%;
                    height: 145px;
                    align-items: center;
                    gap: 1px;
                    border-radius: 12px;
                }

                .parent1 {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0px;
                }

                .pho img {

                    width: 217px;
                    margin-top: -151%;
                    float: inherit;
                    top: 40%;
                    height: 217px;
                    object-fit: cover;

                }

                .main {
                    left: 0px;
                    font-size: 37px;
                    margin-left: 40px;
                    position: relative;
                    display: table;
                    top: 36%;
                }

                .what .less-main {
                    max-width: 100%;
                    max-height: 84%;
                    top: 35%;
                    position: relative;
                    left: -16%;
                }

                .five {
                    font-size: 24px;
                    margin-left: 18px;
                }
            }

            @media(max-width:375px) {
                .pho img {
                    width: 250px;
                    margin-top: -106%;
                    float: inherit;
                    top: 40%;
                    height: 241px;
                    object-fit: cover;
                }

                .main {
                    left: 0px;
                    font-size: 45px;
                    /* margin-left: 40px; */
                    position: relative;
                    display: table;
                    top: 39%;
                }

                .what .less-main {
                    top: 50%;
                    margin-left: 23%;
                    max-width: 40%;
                    max-height: 40%;
                    max-width: 100%;
                    max-height: 43%;
                    top: 39%;
                    position: relative;
                    left: -11%;
                }

                .five {
                    font-size: 24px;
                    margin-left: 18px;
                }
            }

            @media(max-width:320px) {
                .pho img {
                    width: 206px;
                    margin-top: -145%;
                    float: inherit;
                    top: 40%;
                    height: 236px;
                    object-fit: cover;
                }

                .main {
                    left: 0px;
                    font-size: 39px;
                    /* margin-left: 40px; */
                    position: relative;
                    display: table;
                    top: 39%;
                }

                .what .less-main {
                    margin-left: 26%;

                    max-width: 100%;
                    max-height: 70%;
                    top: 39%;
                    position: relative;
                    left: -13%;
                }

                .five {
                    font-size: 24px;
                    margin-left: 18px;
                }
            }

            @media(max-width:360px) {
                .pho img {
                    width: 206px;
                    margin-top: -145%;
                    float: inherit;
                    top: 40%;
                    height: 236px;
                    object-fit: cover;
                }

                .main {
                    left: 0px;
                    font-size: 39px;
                    /* margin-left: 40px; */
                    position: relative;
                    display: table;
                    top: 39%;
                }

                .what .less-main {
                    margin-left: 26%;

                    max-width: 100%;
                    max-height: 70%;
                    top: 39%;
                    position: relative;
                    left: -13%;
                }

                .five {
                    font-size: 24px;
                    margin-left: 18px;
                }
            }



        }
    </style>

</head>

<body onload="onLoad('dsw')">
    <nav>
        <h1 id="logo">LOGO</h1>

        <!-- HAMBURGER LINES -->
        <div class="hamburger">
            <span class="lines"></span>
            <span class="lines"></span>
            <span class="lines"></span>
        </div>

        <!-- LINKS -->
        <ul id="nav-links">
            <li><a href="www.google.com" class="links">Home</a></li>
            <li><a href="#" class="links">Blogs</a></li>
            <li><a href="#" class="links">Gallery</a></li>
            <li><a href="#" class="links">About</a></li>
            <li><a href="#" class="links">Contact</a></li>
            </u>
    </nav>

    <div class="dsw-photo" id="dsw-photo">
        <div class="photo">
            <video style="width: 60%; " loop muted autoplay="autoplay">
                <source src="<%=SERVER_DIR%><%=club.video%>" type="video/mp4">
            </video>
        </div>
    </div>

    <!-- what is dsw edit  ----->
    
    <div class="ball">
        <div class="pointer"></div>
        <div id="container">
            <div class="product-details">
                <h1>What is Dsw</h1>
                <p class="information">
                    <%=club.description%>
                </p>
            </div>

            <div class="product-image">

                <img src="/static/video/gif dsw.gif" alt="NIET club gif">


                <div class="info">
                    <h2> Description</h2>

                </div>
            </div>
        </div>
    </div>


    <!----- Get to Know our Team   -->



    <div class="team">
        <div class="member">
            <div class="five">
                &ldquo; Get to Know Our Team &rdquo;
            </div>
        </div>
        <br>
        <br>
        <br>


        <hr>
        <div class="parent" id="clubMemberList"></div>

    </div>
    </div>


    <!---------  Clubs Under DSW   ----------------->


    <div class="under">
        <div class="club">
            <p>
                &ldquo; Clubs Under DSW &rdquo;
            </p>
        </div>
        <div class="container">
            <div class="card">
                <a href="kbc.html"> <img src="images/kbc.jpg"></a>

                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="ggc.html"> <img src="images/ggc.jpg"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="kalakriti.html"> <img src="images/kALAKRITI.png"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="megapixels.html"> <img src="images/megapixels.png"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="kathputiyan.html"> <img src="images/KATHPUTLIYAN.png"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="jetsetters.html"> <img src="images/Jetsetters.jpg"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="juventas.html"> <img src="images/jUVENTAS.jpg"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div> 
            <div class="card">
                <a href="sangrachna.html"> <img src="images/sangrachna.jpeg"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
            <div class="card">
                <a href="png.html"> <img src="images/PNG image.png"></a>
                <div class="bo">
                    <p9>
                        Total No of members ?
                    </p9>
                    <h2>
                        Khushiyan Baaton Club
                    </h2>

                    <br>

                    <p9>
                        <a href="./booking"> Get Ticket --></a>
                    </p9>
                </div>
            </div>
        </div>

    </div>

    <!--------------------  Best club of the Year   ------------->



    
    <div id="container">
        <div class="ball">

            <div class="club-details">

                <h1>Best Club of the Year</h1>

                <p class="information"><%=club.desc2%></p>

                <div class="control">

                </div>

            </div>

            <div class="club-image">

                <img src="\static\images\untitled.png" alt="NIET DSW club illustrator">


                <div class="info">
                    <h2> Description</h2>

                </div>
            </div>
        </div>
    </div>


    <!----------------   Footer    ---------------------------->

    <footer class="new_footer_area bg_color" id="contact">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                            <p>Don’t miss any updates of our new templates and extensions.!</p>
                            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true"
                                _lpchecked="1">
                                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Android App</a></li>
                                <li><a href="#">ios App</a></li>
                                <li><a href="#">Desktop</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">My tasks</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Term &amp; conditions</a></li>
                                <li><a href="#">Reporting</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Support Policy</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                            <div class="f_social_icon">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="mb-0 f_400">© cakecounter Inc.. 2019 All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 col-sm-5 text-right">
                        <p>Made with <i class="icon_heart"></i> in <a href="http://cakecounter.com"
                                target="_blank">CakeCounter</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        'use strict'

        const menuToggle = document.querySelector('.menu-toggle');
        const bxMenu = document.querySelector('.bx-menu');
        const bxX = document.querySelector('.bx-x');

        const navBar = document.querySelector('.navbar');

        // --- open menu ---

        bxMenu.addEventListener('click', (e) => {
            if (e.target.classList.contains('bx-menu')) {
                navBar.classList.add('show-navbar');
                bxMenu.classList.add('hide-bx');
                bxX.classList.add('show-bx');
            }
        })

        // --- close menu ---

        bxX.addEventListener('click', (e) => {
            if (e.target.classList.contains('bx-x')) {
                navBar.classList.remove('show-navbar');
                bxMenu.classList.remove('hide-bx');
                bxX.classList.remove('show-bx');
            }
        })

    </script>
</body>

</html>