<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Login</title>
</head>

<style>
    .response{
        padding:10px;
        border-radius: 20px;
        margin:10px 5px;
        display:none;
    }
</style>
<body onload="onLoad()">
    <section id="login">
        
        <!-- Login Form -->
        <form action="/auth/login" method="POST" id="loginform">
            <div id="loginResponse" class="response"></div>
            <div for="">Login Form</div>
            <input type="text" name="ERP_ID" placeholder="ERP_ID"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">Login</button>
        </form>
        
        <!-- Forget Password Form -->

        <form action="/auth/forgetpassword" method="POST" id="forgetform" style="display:none;">
            <div for="">Forget Password</div>
            <div id="forgetResponse" class="response"></div>
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="ERP_ID" placeholder="ERP_ID"><br>
            <button>Send Email</button>            
        </form>
        <button style="border:none;background-color: white;text-decoration: underline;" onclick="switchForm()" id="switchBtn">Forget password</button>
    </section>
</body>
<script src="/static/js/api/login.js"></script>
</html>