<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style/login.css">
    <title>Login</title>
  </head>


  <body onload="onLoad()">
    <section id="login">

    <!-- Login Form -->
    <div class="outer">
      <div class="inner">
        <h1>Login Form</h1>
        <form
          action="/auth/login"
          method="POST"
          id="loginform"
          class="login-form"
        >
          <div id="loginResponse" class="response"></div>
          <!-- <div for="">Login Form</div> -->
          <input type="text" name="ERP_ID" placeholder="ERP_ID" /><br />
          <input
            type="password"
            class="form_txt"
            name="password"
            placeholder="password"
          /><br />
          <button class="button" type="submit">Login</button>
        </form>

        <!-- Forget Password Form -->

        <form
          action="/auth/forgetpassword"
          method="POST"
          id="forgetform"
          style="display: none"
        >
          <div for="">Forget Password</div>
          <div id="forgetResponse" class="response"></div>
          <input type="text" name="name" placeholder="Name" /><br />
          <input type="text" name="ERP_ID" placeholder="ERP_ID" /><br />
          <button>Send Email</button>
        </form>
        <button
          style="
            border: none;
            background-color: white;
            text-decoration: underline;
          "
          onclick="switchForm()"
          id="switchBtn"
        >
          Forget password
        </button>
      </div>
    </div>
    </section>
  </body>
  <script src="/static/js/api/login.js"></script>
</html>
