<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <form action="/auth/register"  method="POST" enctype="multipart/form-data">
        <!-- Warning: Don't modify name of below variable name -->
        <input name="name" placeholder="Name"><br>
        <input name="ERP_ID" placeholder="ERP_ID"><br>
        <input type="password" name="password"  placeholder="password"><br>
        <input type="password" name="conformpassword" placeholder="conformpassword" ><br>
        <input name="gender" placeholder="Enter Gender"><br>
        <input name="contactNo" placeholder="contactNo" ><br>
        <input type="file" name="avatar"><br>
        <input name="branch"  placeholder="branch"><br>
        <input name="year" placeholder="Year"><br>
        <input name="whatsapp" placeholder="whatsapp no." ><br>
        <input name="linkedin" placeholder="linkedin profile" ><br>
        <button type="submit">Register</button>
        
    </form>
    
</body>
</html>