<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    Reset Password form page
    <form action=<%='/auth/resetpassword/'+userID%> method="post">
        <!-- don't change variable name -->
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="ERP_ID" placeholder="ERP_ID"><br>
        <input type="password" name="password" placeholder="Enter new Password"><br>
        <button type="submit">Reset Password</button>
        
    </form>
</body>
</html>