body{
  margin: 0px;
}

#navbar1{
  display:flex;
  background-color: #202020;
  margin:0px;
}
#navbar1 img{
  margin-left:10px;
  width: 80px;
}
#nav1-links{
  display:flex;
  margin-left: auto;
  justify-content: center;

}
#search{
  width:400px;
}
#search-input{
  margin-top:20px;
  font-size: 20px;
  border-radius:10px;
  padding:5px;
  width:100%
}
#pvtComponent1{
  display: flex;
  margin:auto 10px;
  font-size:20px;
}
#notification{
  padding: 15px;
  color: white;
  display:flex;
}
#pvtComponent1 a{
  text-decoration: none;
  padding: auto 20px;
  color: white;
  margin:auto 10px;
}
#notification div {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: red;
  position: relative;
  right: 10px;
  display:none;
}
#notification a:hover{
  color: rgb(213, 213, 0);
}
#suggestionClubs {
  background-color: rgb(254, 253, 228);
  width: 400px;
  position:fixed;
  left:54.2%;
  top:56px;
  z-index: 1;
}
#main-video{
  display:flex;
  margin:20px auto;
}
#main-video video{
  margin:auto;
}
#live-events-container {
  /* background-color: rgb(254, 255, 227); */
  width: 80%;
  margin: auto;
  border:2px solid #fbfbaf;;
  border-bottom:0px;
}

#head-live-events-container{
  cursor:context-menu;
  padding:3px;
  box-shadow: 0px 6px 9px #b8b88f;
  background-color: #fbfbaf;
  margin:0px;
}

#events-list{
  width:100%;
  height:300px;
  overflow-y: scroll;
  background-color: #efefef;
}
.live-event{
  display:flex;
  background-color: white;
  margin-bottom:2px;
}
.live-event img{
  width:70px;
  border-radius:50px;
}
.live-event a{
  text-decoration: none;
  max-width: 80px;
  min-width: 80px;
  padding: auto;
  margin: auto;
  margin-right:0px;
  text-align: center;
  background-color: #3083ff;
  padding: 5px;
  border-radius: 20px;
  color: white;
  border:1px solid #3083ff;
}
.live-event a:hover{
  background-color:white;
  border-color: #3083ff;
  transition-duration: 0.3s;
  color:#3083ff;
}