body {
    margin: 0 auto;
    margin-top: 140px;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    background-image: url(wallpaper.jpg)
}

.outer {
    width: 6cm;
    background-color: #cc99ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
    border-radius: 15px;
}

.inner {
    background-color: rgb(33, 62, 64);
    height: 26vh;
    margin: 0;
    padding: 80px;
    border-radius: 15px;
}

h1 {
    color: aliceblue;
    text-decoration: underline;
}

.form_txt {
    padding: 3px;
    display: block;
    margin: 8px;
}

.button {
    width: 80px;
}

button:hover {
    color: goldenrod;
    background-color: rgb(9, 9, 9);
    cursor: pointer;
    box-shadow: 2px 2px rgb(207, 194, 194);
}

.response {
    padding: 10px;
    border-radius: 20px;
    margin: 10px 5px;
    display: none;
}